.player {
  width: 20px;
}

.player1 {
  margin-left: 0;
  border-radius: 50%;
}

.player2 {
  margin-left: 10px;
}

.player3 {
  margin-left: 20px;
}

.player4 {
  width: 30px;
  margin-left: 30px;
}